In [1]:
import mysql.connector
# 连接到 MySQL 服务器
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="123456"
)
cursor = conn.cursor()
cursor.execute("USE school;")

In [2]:
# 插入学生表数据
students = [
    ("202205325119", "王孔昊", "男", 21, "CS"),
]
cursor.executemany(
    "INSERT INTO student (Sno, Sname, Ssex, Sage, Sdept) VALUES (%s, %s, %s, %s, %s) ON DUPLICATE KEY UPDATE Sname=VALUES(Sname);",
    students,
)